@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root{
    --lightBlue:#a6d8e3;
    --black:#000000;
    --darkBlue:#03002a;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-team, .bottom-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    overflow: hidden;
}
.top-team{
    height: 100vh;
    width: 25vw;
    padding: 40px;
    background-image: linear-gradient(to right, var(--black) , var(--darkBlue));
    color: var(--lightBlue);
}
.bottom-team{
    height: 100vh;
    width: 25vw;
    padding: 40px;
    background-color: var(--lightBlue);
}
.team-img{
    height: 200px;
    width: 200px;
    position: relative;
    top: -200px;
    opacity: 0;
}
.top-team .team-img{
    margin-left: 35px;
}
.arrow{
    height: 80px;
    width: 80px;
    background-color: var(--lightBlue);
    border-radius: 50%;
    padding: 18px;
    position: relative;
    top: 150px;
    opacity: 0;
}
/* object{
    filter: invert(83%) sepia(18%) saturate(414%) hue-rotate(143deg) brightness(95%) contrast(94%);
}
.bottom-team a{
    background-color: var(--darkBlue);
} */
/* object{
    color: ;
} */
.bottom-team .arrow{
    /* filter: invert(87%) sepia(35%) saturate(403%) hue-rotate(230deg) brightness(100%) contrast(89%); */
    filter: invert(83%) sepia(18%) saturate(414%) hue-rotate(143deg) brightness(95%) contrast(94%);
    background-color: var(--darkBlue);
    /* filter: sepia(300%) hue-rotate(150deg) saturate(450%); */
    /* filter: invert(4%) sepia(47%) saturate(7383%) hue-rotate(231deg) brightness(76%) contrast(113%); */
    /* background-color: #4c5a79; */
    /* fill: yellow; */
}
.top-team p{
    font-size: 45px;
    text-align: center;
    position: relative;
    top: -200px;
}
.bottom-team p{
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 300px;
}
.event, .about{
    background-image: linear-gradient(to right, var(--black), var(--black) , var(--darkBlue));
}
.events-nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.events-nav li{
    list-style-type: none;
    font-size: 35px;
    padding: 20px;
    font-weight: 600;
    background-color: var(--lightBlue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
    text-align: center;
    text-transform: uppercase;
}
.hack, .hackdays, .days{
    color: white;
    text-align: justify;
    padding: 150px;
    font-size: 25px;
    display: none;
    font-weight: 400;
}
.hack a, .hackdays a, .days a{
    text-decoration: none;
    color: var(--black);
    background-color: white;
    border-radius: 30px;
    padding: 15px 50px;
    font-weight: 100;
    display: inline-block;
    margin: 100px 400px;
    margin-bottom: 0px;
}
.active{
    background-color: var(--black) !important;
    color: white;
}
.active-div{
    display: block;
}


.about{
    color: white;
    padding: 50px;
}
.title{
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 20px; 
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
}
.about-us{
    font-size: 30px;
    color: var(--lightBlue);
    font-weight: 300;
}
.number{
    font-size: 200px;
    color: var(--lightBlue);
}
.data, .data2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    opacity: 1;
    width: 90vw;
    opacity: 0;
}
.data-main{
    overflow: hidden;
}
.data{
    margin-left: 1100px;
}
.data2{
    margin-left: -1100px;
}
.data-text{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.data-info{
    font-size: 25px;
    font-weight: 400;
}
.data img, .data2 img{
    width: 600px;
    height: 180px;
    border: solid white 5px;
}
/* @keyframes fade-right {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  } */
  /* .data.right{
    animation: fade-right 1s ease-in; 
    opacity: 1;
  }
  .data.left{
    animation: fade-left 1s ease-in; 
    opacity: 1;
  } */